sudo: required
language: python
python:
  - "3.5"

services:
  - docker

before_install:
  - printenv | grep -E '^TRAVIS_' > .env
  - docker build -t sharkdocker .

install:
  - docker run sharkdocker /bin/sh -c "cd /root/labelSHARK; python3.5 setup.py install"

script:
  - docker run sharkdocker /bin/sh -c "cd /root/labelSHARK; python3.5 setup.py test"

after_success:
  - docker run --env-file .env sharkdocker /bin/bash -c "cd /root/labelSHARK; make deploy > /dev/null"
  - SRD=`docker ps -alq` && docker cp $SRD:/root/labelSHARK/plugin_packaging/labelSHARK_plugin.tar .

deploy:
  provider: releases
  api_key: ${TRAVIS_GH_TOKEN}
  file: "labelSHARK_plugin.tar"
  skip_cleanup: true
  on:
    repo: smartshark/labelSHARK
    tags: true
